* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #ebf2f5;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}

.toast-erro {
  background-color: #36CF82;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

.marker-cluster-custom {
  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #b82e3ec2;
  font-size: 16px;
  color: #fff;
}
